@import url('https://fonts.googleapis.com/css?family=Abril+Fatface:900|Work+Sans:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chivo:300,700|Playfair+Display:700i&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
* {
	box-sizing: border-box;
}
.fa {
	padding: 20px;
	font-size: 50px;
	width: 55px;
	text-align: center;
	text-decoration: none;
	color: black;
	opacity: 0.7;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
	opacity: 1;
	
	color: red;
  }


body {
	font-family: helvetica;
	font-weight: lighter;
	line-height: 1.6;
	margin: 0;
    min-height: 100vh;
	background-color: #fffaf0;

}
.grid {	
	/* Supports Grid */
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
	grid-auto-rows: minmax(150px, auto);
	grid-gap: 1em;
	margin: 1em;
}
  
.module {
	/* Demo-Specific Styles */
	
	opacity: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 22vw;
	border-radius: 5%;
}

.module:hover {
	opacity: 100%;
}
  
.logogallery{
	max-width: 70%;
	height: auto;
}

.section0{
	height: 100vh;
	width: auto;
	overflow-y: hidden;
}

.about{
	height: 100vh;
	display: flex;
	background-size: 100%;
	justify-content: space-around;
}

.section2{
	height: 100vh;
}

.section3{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	justify-content: flex-end;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
	text-decoration: none;
}

.logo {

	height: 60px;
	box-sizing: border-box;
	padding-bottom: 10px;
	opacity: 90%;
	align-self: center;
}

.main-nav {
	margin-top: 5px;
}

.logo a,
.main-nav a {
	padding: 10px 15px;	
	text-align: center;
	display: block;
}

.main-nav a {
	font-family: 'Chivo', sans-serif;
	font-weight: 700;
	font-size: 1.6em;
	color: rgb(38, 38, 38);
}

.main-nav a:hover {	
	
	font-style: italic;
	color: red;
}

.header {
	padding-top: .5em;
	padding-bottom: .5em;
    position: fixed;
	width: 100%;
	padding-right: 3%;
	
}

.contentbox{
	display: flex;
	height: 80vh;
	overflow-y:hidden;
	justify-items: center;
	max-width: 100%;
	z-index: -1;	
}

.titlecard{
	max-height: 35vh;
	background-color: transparent;
	display: flex;
	justify-content:space-evenly;
	align-content: center;

}


#title{
	font-size: 8.7vw;
	align-self: center;
	max-width: 60vw;
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-weight: 900;
	color: rgb(38, 38, 38);
	text-align: left;
	align-self: center;
	
}
#title2{
	font-size: 2vw;
	align-self: center;
	max-width: 40vw;
	font-family: 'Playfair Display', serif;
	padding-bottom: 3%;
	font-weight: 500;
	color: red;
	text-align: left;
	align-self: center;
}

#content{

	max-width: 40vw;

	font-family: 'Chivo', sans-serif;
	font-weight: 300;
	font-size: 1.2vw;
	padding-top: 1%;
	text-align: left;
	align-self: center;
	color: rgb(38, 38, 38);
}

.imgcontent{
	align-self:flex-end;	
	width: 100%;
	z-index: -1;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
		margin-bottom: 20%;
	}
	}
	

}
@media (max-width: 769px) {
	.grid {
		/* Grid Fallback */
		display: flex;
		flex-wrap: wrap;
		
		/* Supports Grid */
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-rows: minmax(150px, auto);
		padding-top:100px;
}
.about{
	flex-direction: column-reverse;
	justify-content: center;
	padding-top: 15% ;
}
.abouttext{
	font-size: 2.5vw !important;
}
.aboutcontent{
	max-width: 80% !important;
}
.aboutimage{
	width: 45vw !important;
}
.titlecard{
	max-height: 55vh;
	flex-direction: column;
}
#title{
	max-width: 80vw;
	padding-top: 5%;
	padding-bottom: 1%;
}
#content{
	max-width: 95vw;
	font-size: 2.9vw;
}
}
@media (max-width: 1025px) {
	.grid {
		/* Grid Fallback */
		display: flex;
		flex-wrap: wrap;
		
		/* Supports Grid */
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-rows: minmax(150px, auto);
		padding-top:180px;
}	

}
@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
		
	}

}
